SYMBOL=
BASE_ASSET=
QUOTE_ASSET=
INTERVAL=

# MARKET DATA
# Allowed values: replay_binance, binance_testnet, binance_production
MARKET_DATA_SOURCE=

# EXECUTION
# Allowed values: paper, binance_testnet, binance_production
EXECUTOR=

# BINANCE
REPLAY_INITIAL_DATE=
REPLAY_FINAL_DATE=
REPLAY_DELAY_SECONDS=
BINANCE_API_KEY_TESTNET=
BINANCE_API_SECRET_TESTNET=
BINANCE_API_KEY_PRODUCTION=
BINANCE_API_SECRET_PRODUCTION=

# PAPER ACCOUNT
PAPER_INITIAL_BASE_BALANCE=
PAPER_INITIAL_QUOTE_BALANCE=
