SYMBOL=
BASE_ASSET=
QUOTE_ASSET=
INTERVAL=

# STREAMING
BINANCE_ENV= # Allowed values: mock, testnet, production
BINANCE_API_KEY_TESTNET=
BINANCE_API_SECRET_TESTNET=
BINANCE_API_KEY_PRODUCTION=
BINANCE_API_SECRET_PRODUCTION=
MOCK_INITIAL_DATE=
MOCK_FINAL_DATE=
MOCK_DELAY_SECONDS=

# PAPER ACCOUNT
PAPER_INITIAL_BASE_BALANCE=
PAPER_INITIAL_QUOTE_BALANCE=
