# Python
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Conda
.conda/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# MyPy / Ruff / coverage
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Data (VERY IMPORTANT)
data/raw/*
data/processed/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
